{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<br>

<img src="{% static 'img/forgot-pass-img.svg' %}"
    alt="https://storyset.com/people People illustrations by Storyset" width="350px" height="350px%"
    class="mt-5 mx-auto d-block align-items-center" />


<br>
<div class="col text-center">
    <h2 class="h1 text-dark ms-3 m-4">Forgot Password?</h2>
</div>

<div class="container mt-5 pb-5">
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdm7ldyPOxg43p3ypaOrQN5JqSPa9qQFmtfmzmOWH-lqJLwpQ/viewform?usp=pp_url&entry.1065046570=I+want+to+reset+my+password+on+my+account.+Thank+you!"
        width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">

            <button class="btn btn-primary button-done-forgot" onClick="history.back();">Done</button>
        </div>
    </div>

</div>
{% endblock %}