{% extends 'index.html' %}
{% load static %}

{% block content %}

<h2 class="text-dark ms-3 mt-5 m-4">{{ title }}</h2>

<!-- Edit Sale Transaction Form -->
<form method="post" id="saleForm" action="update/{{sale.id}}" data-items-url="{% url 'sales:ajax_load_items' %}">
  {% csrf_token %}

  <!-- Price Input -->
  <div class="form-group m-4">
    <div>
      <label for="price-num-input">Price</label>
    </div>
    <input type="currency" name="price" id="price-num-input" class="form-control" value="{{sale.price}}" 
        min="0.00" step="0.01" required>
  </div>

  <!-- Quantity Input -->
  <div class="form-group m-4">
    <div>
      <label for="quantity-num-input">Quantity</label>
    </div>
    <input type="number" name="quantity" id="quantity-num-input" class="form-control" min="1" 
    value="{{sale.quantity}}" required>
  </div>

  <!-- Payment Input -->
  <div class="form-group m-4">
    <div>
      <label for="payment-dropdown">Payment Type</label>
    </div>
    <select class="selectpicker" title="{{sale.payment}}" name="payment" id="payment-dropdown" data-width="100%"
      data-style="btn-outline-primary" required>
      <option value="1">Cash</option>
      <option value="2">Cashless</option>
    </select>
  </div>

  <!-- Category Dropdown -->
  <div class="form-group m-4">
    <div>
      <label for="category-dropdown">Category</label>
    </div>
    <select class="selectpicker" title="{{sale.category}}" name="category" data-width="100%"
      data-style="btn-outline-primary" id="category-dropdown" required>
      <option value="1">Men</option>
      <option value="2">Women</option>
      <option value="3">Child Boys</option>
      <option value="4">Child Girls</option>
    </select>
  </div>

  <!-- Item Dropdown -->
  <div class="form-group m-4">
    <div>
      <label for="item-dropdown">Item</label>
    </div>
    <select class="selectpicker" title="{{sale.item}}" name="item" data-width="100%" data-style="btn-outline-primary"
      id="item-dropdown" required>
    </select>
  </div>

  <!-- Cancel and Save Button -->
  <div class="form-group m-4 pb-5">
    <div class="row no-gutters">
      <div class="col-6 d-flex justify-content-center">
        <a class="btn btn-secondary btn-lg border-0 button-custom" id="cancel-btn" href="transactions/" role="button">Cancel</a>
      </div>
      

      <div class="col-6 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg border-0 button-custom " id="save-btn"
          onClick="check();">Save</button>
      </div>
    </div>
  </div>
</form>

<!-- chained dropdown dependencies -->
<script src="{% static 'sales/js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'sales/js/category-item-chained-dropdown.js' %}" type="text/javascript"></script>

<!-- formatting the currency input and value -->
<script src="{% static 'sales/js/format-currency-input.js' %}" type="text/javascript"></script>
<script src="{% static 'sales/js/format-currency-value.js' %}" type="text/javascript"></script>

<!-- reset values in dropdown -->
<script src="{% static 'sales/js/selectpicker-reset.js' %}" type="text/javascript"></script>

{% endblock %}