#price-num-input {
    font-family: 'Inter', sans-serif;
    text-align: right;
    font-size: 50px;
    border: none;
    background-color:#007CFF;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

#quantity-num-input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 0.5rem;
    border: 1px #007CFF solid;
    text-align: center;
}

.logo {
    font-size: xx-large;
    font-family: 'Inter', Arial;
}

.navbar_selection {
    font-size: large;
    text-align: end;
    font-family: 'Inter', Arial;
}

#add-btn {
    background-color: #6FBAF7;   
    margin-left: 10px;
}

#cancel-btn {
    background-color: #6D6D6D;
    margin-right: 10px;
}

.button-custom {
    border-radius: 10px;
    width: 100% !important;
    font-family: "Inter", Arial;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 0;
}

.button-login {
    border-radius: 10px;
    width: 100% !important;
    font-family: "Inter", Arial;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 50px;
}

.button-done-forgot {
    border-radius: 10px;
    width: 100% !important;
    font-family: "Inter", Arial;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 50px;
}

.button-login-cancel {
    border-radius: 10px;
    width: 100% !important;
    font-family: "Inter", Arial;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 10px;
}


/* .test-color{
    background-color: red;
} */


/* .row.custom-gutters{
    margin-left: 1px;
    margin-right: 1px;
} */

.container-custom{
    padding: 0 5px;

}

.nav-pills .nav-link{
    font-family: "Inter", Arial;
    padding: 10px 0;
    border-radius: 10px;
}

.navbar .nav-link {
    position: relative;
    color: #f7f7f7;
    text-decoration: none;
    padding: 7px 0;
}
    
.navbar .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: #007CFF;
    transition: all 250ms ease-in-out;
}
  
.navbar .nav-link:hover::after {
    width: 100%;
    left: 0;
}


.bootstrap-select>.dropdown-toggle.bs-placeholder{
    border-radius: 10px;
    padding: 20px .75rem;
    background-color: #FFFFFF;
}

.bootstrap-select>.dropdown-toggle{
    border-radius: 10px;
    padding: 20px .75rem;
    background-color: #FFFFFF;
}

.btn {
    border-radius: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: #007CFF !important;
}

input[type=text], input[type=password]{
    width: 100%;
    border-radius: 10px;
    padding: 22px .75rem;
    box-sizing: border-box;
    border: 1px solid #007CFF;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
/* .align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .btn-block {
    padding: 10% 0;
    border-radius: 90px;
} */

/* background: */

/* Alert Login */
 .login-alert {
     padding: 20px;
     background-color: rgba(206, 10, 10, 0.72);
     color: white;
     border-radius: 20px;
 }

 .closebtn {
     margin-left: 15px;
     color: white;
     font-weight: bold;
     float: right;
     font-size: 22px;
     line-height: 20px;
     cursor: pointer;
     transition: 0.3s;
 }

 .closebtn:hover {
     color: black;
 }



 .login-container {
    display: flex;
    align-items: center;
    justify-content: center;

 }

 .box1 {
     width: 50%;
     height: 100%;
     /* background: red; */
     float: left;

 }

 .box2 {
     width: 50%;
     height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.271);
     border-radius: 20px;
     float: right;
    
 }

 .wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 5rem;
     
 }


 .card-blue {
     color: #FFFFFF;
     background-color: #007CFF !important;
     border-radius: 10px;
 }

/* 404 CSS */
.titleoops {
    margin-top: 5rem;
}
p.oops{
    font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        /* line-height: 73px; */
        text-align: center;
        margin-bottom: 0;
    
        color: #FFFFFF;
}
p.something {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    /* line-height: 42px; */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}


p#number404{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 150px;
    /* line-height: 243px; */
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 16.4809px 16.4809px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    margin-top: 30px;
}


p#notfound{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 52.5625px;
    /* line-height: 60px; */
    /* identical to box height */        
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 10.5125px 10.5125px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
    }

p#wayhome{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 42px; */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 20px;
}

.buttonhome404{
    margin-top: 50px;
    padding: 0 35%;
}




#btn-home-404{
    justify-content: flex-end;
    background-color: #FFFFFF;
    color: #002CB8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-align: center;

}

 @media screen and (max-width:820px) {


     .wrapper {
         margin-top: 0px;
         display: flex;
         flex-direction: column;
     }

     #login-logo {
         max-width: 200px;
         max-height: 200px;
     }

     .box1 {
         width: 100%;
         float: right;

     }

     .box2 {
         width: 100%;
         float: right;
         box-shadow: none;
     }

     /* 404 CSS Mobile */
     .titleoops {
         margin-top: 5rem;
         margin-left: 20px;
         margin-right: 20px;
     }

     p.oops {
         font-size: 35px;
     }

     p.something {
         font-size: 20px;
     }

     .title404 {
         margin-left: 20px;
         margin-right: 20px;
     }

     p#number404 {
         font-size: 90px;
     }

     p#notfound {
         font-size: 20px;
     }

     p#wayhome {
         font-size: 15px;
     }
    .buttonhome404 {
        margin-top: 50px;
        padding: 0 10%;
    }


 }
 .card-blue {
    color: #FFFFFF;
    background-color: #007CFF!important;
 }

 #date {
    border: 1px solid #007bff;
    border-radius: 8px;
    background-color:white;
    padding: 3px 5px;
    height: 40px;
    width: 100%;
    color:#808080;
  }

.form-control{
    background-color:rgba(0,0,0,0);
}
  
/*
.filter-option-inner-inner{
    visibility: hidden;
    position: relative;
}

[data-id="payment-dropdown"]:before {
    content: "Select Payment";
}

[data-id="category-dropdown"]:before {
    content: "Select Category";
}

[data-id="item-dropdown"]:before {
    content: "Select Item";
}*/


