{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>


    <!-- Bootstrap4 jsD elivr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- bootstrap-select compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- sample.css -->
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">

    <!-- Font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <!-- transaction table css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
</head>

<body>
    <div class="titleoops">
        <p class="oops"> Oops!
        </p>
        <p class="something">Something went wrong</p>

    </div>

    <div class="title404">
        <p id="number404">404</p>
        <p id="notfound">Page not Found</p>
    </div>


    <div class="buttonhome404 ">
        <p id="wayhome">Don’t worry, we found your way Home.</p>
        <button type="reset" class="btn btn-lg btn-primary btn-block border-0 " id="btn-home-404">Take me
            Home</button>
        <div class="col-6 d-flex justify-content-center">

        </div>

    </div>


</body>
<style>
    body {
        background-image: url("{% static 'img/404.png' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
</style>

</html>