#price-num-input {
    font-family: 'Inter', sans-serif;
    text-align: right;
    font-size: 50px;
    border: none;
    background-color:#007CFF;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

#quantity-num-input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 0.5rem;
    border: #6FBAF7 solid;
    text-align: center;
}

.logo {
    font-size: xx-large;
    font-family: 'Inter', Arial;
}

.navbar_selection {
    font-size: large;
    text-align: end;
    font-family: 'Inter', Arial;
}

#add-btn {
    background-color: #6FBAF7;   
    margin-left: 10px;
}

#cancel-btn {
    background-color: #CDCDCD;
    margin-right: 10px;
}

.button-custom {
    border-radius: 10px;
    width: 100% !important;
    font-family: "Inter", Arial;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 0;
}


/* .test-color{
    background-color: red;
} */


/* .row.custom-gutters{
    margin-left: 1px;
    margin-right: 1px;

} */

.container-custom{
    padding: 0 5px;
}

.nav-pills .nav-link{
    font-family: "Inter", Arial;
    padding: 10px 0;
    border-radius: 10px;
}

.navbar .nav-link {
    position: relative;
    color: #f7f7f7;
    text-decoration: none;
    padding: 7px 0;
}
    
.navbar .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: #007CFF;
    transition: all 250ms ease-in-out;
}
  
.navbar .nav-link:hover::after {
    width: 100%;
    left: 0;
}


.bootstrap-select>.dropdown-toggle.bs-placeholder{
    border-radius: 10px;
    padding: 20px .75rem;
}

/* .btn-block {
    padding: 10% 0;
    border-radius: 90px;
} */